.contacts__title {
  margin-bottom: 44px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
}

.contacts__item {
  display: flex;
  align-items: center;
  max-width: 268px;
  cursor: pointer;
}

.contacts__item:first-child {
  margin-bottom: 24px;
}

.contacts__link {
  padding-right: 26px;
  color: #cd06ff;
}

.social {
  display: flex;
  gap: 27px;
}

.social__link {
  color: #fff;
}
