.hero {
  padding-top: 160px;
}

.hero__content {
  position: relative;
  min-height: 823px;
}

.hero__content::before {
  position: absolute;
  content: '';
  display: inline-block;
  right: 0;
  bottom: 0;
  height: 762px;
  width: 675px;
  background-image: url('../img/hero/hero.png');
}

.hero__title {
  font-weight: 900;
  font-size: 150px;
  line-height: 1;
  letter-spacing: -0.1em;
}

.hero__subtitle {
  padding-left: 100px;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.78571;
  color: #fff;
}
